USE [master]
GO
/****** Object:  Database [EtoKonechErmoshin]    Script Date: 08.04.2024 14:25:10 ******/
CREATE DATABASE [EtoKonechErmoshin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EtoKonechErmoshin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.IS2012\MSSQL\DATA\EtoKonechErmoshin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EtoKonechErmoshin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.IS2012\MSSQL\DATA\EtoKonechErmoshin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EtoKonechErmoshin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EtoKonechErmoshin]
GO
/****** Object:  Table [dbo].[Rabotniki]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rabotniki](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TipDeatelnostiId] [int] NOT NULL,
 CONSTRAINT [PK_Rabotniki] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rashodniki]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rashodniki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Kolichestvo] [int] NOT NULL,
 CONSTRAINT [PK_Rashodniki] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipDeatelnosti]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipDeatelnosti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipDeatelnosti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserZayavka]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserZayavka](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ZayavkaId] [int] NOT NULL,
 CONSTRAINT [PK_UserZayavka] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazkhik]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazkhik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Organizatia] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[KolichestvoKomnat] [int] NULL,
	[Ploshad] [int] NOT NULL,
 CONSTRAINT [PK_Zakazkhik] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZaplanirovannieUborka]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZaplanirovannieUborka](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatePlanirovaniua] [date] NOT NULL,
 CONSTRAINT [PK_ZaplanirovannieUborka] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zayavka]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zayavka](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateViezda] [date] NOT NULL,
	[ZakazkhikId] [int] NOT NULL,
 CONSTRAINT [PK_Zayavka] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZayavkaRabotniki]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZayavkaRabotniki](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Zayavka] [int] NOT NULL,
	[Rabotniki] [int] NOT NULL,
 CONSTRAINT [PK_ZayavkaRabotniki] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZayavkaRashodniki]    Script Date: 08.04.2024 14:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZayavkaRashodniki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZayavkaId] [int] NOT NULL,
	[RashodnikiId] [int] NOT NULL,
 CONSTRAINT [PK_ZayavkaRashodniki] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rabotniki]  WITH CHECK ADD  CONSTRAINT [FK_Rabotniki_TipDeatelnosti] FOREIGN KEY([TipDeatelnostiId])
REFERENCES [dbo].[TipDeatelnosti] ([Id])
GO
ALTER TABLE [dbo].[Rabotniki] CHECK CONSTRAINT [FK_Rabotniki_TipDeatelnosti]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserZayavka]  WITH CHECK ADD  CONSTRAINT [FK_UserZayavka_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserZayavka] CHECK CONSTRAINT [FK_UserZayavka_User]
GO
ALTER TABLE [dbo].[UserZayavka]  WITH CHECK ADD  CONSTRAINT [FK_UserZayavka_Zayavka] FOREIGN KEY([ZayavkaId])
REFERENCES [dbo].[Zayavka] ([Id])
GO
ALTER TABLE [dbo].[UserZayavka] CHECK CONSTRAINT [FK_UserZayavka_Zayavka]
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD  CONSTRAINT [FK_Zayavka_Zakazkhik] FOREIGN KEY([ZakazkhikId])
REFERENCES [dbo].[Zakazkhik] ([Id])
GO
ALTER TABLE [dbo].[Zayavka] CHECK CONSTRAINT [FK_Zayavka_Zakazkhik]
GO
ALTER TABLE [dbo].[ZayavkaRabotniki]  WITH CHECK ADD  CONSTRAINT [FK_ZayavkaRabotniki_Rabotniki] FOREIGN KEY([Rabotniki])
REFERENCES [dbo].[Rabotniki] ([id])
GO
ALTER TABLE [dbo].[ZayavkaRabotniki] CHECK CONSTRAINT [FK_ZayavkaRabotniki_Rabotniki]
GO
ALTER TABLE [dbo].[ZayavkaRabotniki]  WITH CHECK ADD  CONSTRAINT [FK_ZayavkaRabotniki_Zayavka] FOREIGN KEY([Zayavka])
REFERENCES [dbo].[Zayavka] ([Id])
GO
ALTER TABLE [dbo].[ZayavkaRabotniki] CHECK CONSTRAINT [FK_ZayavkaRabotniki_Zayavka]
GO
ALTER TABLE [dbo].[ZayavkaRashodniki]  WITH CHECK ADD  CONSTRAINT [FK_ZayavkaRashodniki_Rashodniki] FOREIGN KEY([RashodnikiId])
REFERENCES [dbo].[Rashodniki] ([Id])
GO
ALTER TABLE [dbo].[ZayavkaRashodniki] CHECK CONSTRAINT [FK_ZayavkaRashodniki_Rashodniki]
GO
ALTER TABLE [dbo].[ZayavkaRashodniki]  WITH CHECK ADD  CONSTRAINT [FK_ZayavkaRashodniki_Zayavka] FOREIGN KEY([ZayavkaId])
REFERENCES [dbo].[Zayavka] ([Id])
GO
ALTER TABLE [dbo].[ZayavkaRashodniki] CHECK CONSTRAINT [FK_ZayavkaRashodniki_Zayavka]
GO
USE [master]
GO
